# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.vscode/

# Local packaging artifacts
plusmagi-site-search.plusmagi.com/build/
