!Documents/
.DS_Store

# System files
thumbs.db

# Build
.idea/
.vscode/
*.zip
build/
node_modules/
temp_build/

# Playwright
Playwright/.env
Playwright/auth/admin-state.json
Playwright/playwright-report/
Playwright/test-results/
Playwright/test-snapshots/